<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>View All Sponsor</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(page = 'Sponsor')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Daftar Sponsor</h2>
                    <a th:href="@{/sponsor/add}" class="mx-2 btn btn-primary">Tambah Sponsor Baru</a>
                    <a th:href="@{/}" class="mx-2 my-4 btn btn-primary">Beranda</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>

                                <th>Email</th>
                                <th>Nama</th>
                                <th>Tahun Berdiri</th>
                                <th>Kategori</th>
                                <th colspan="4" style="text-align: center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sponsor, iterationStatus : ${listSponsor}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                <td th:text="${iterationStatus.count}"></td>

                                <td th:text="${sponsor.email}"></td>
                                <td th:text="${sponsor.nama}"></td>
                                <td th:text="${sponsor.tahunBerdiri}"></td>
                                <td th:text="${sponsor.kategori}"></td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{/sponsor/delete/} + ${sponsor.id}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>